@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FootStance</h1>
    <p class="lead">At FootStance, we celebrate opinions and critiques. Let the praise ring and the hate fly. Share <i>your</i> Stance with the world.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>@Html.ActionLink("New Music Stance", "Create", "MusicReview", null, new { @class="createMusicStance" })</p>
    </div>
    <div class="col-md-4">
        <p><input type="image" src="~/assets/joystick.png" name="gameIcon" class="btn" id="gameIcon" /></p>
    </div>
    <div class="col-md-4">
        <p><input type="image" src="~/assets/video-camera.png" name="movieIcon" class="btn" id="movieIcon" /></p>
    </div>
</div>