@{
    ViewBag.Title = "MyStances";
}

<div class="jumbotron">
    <p class="lead">At footStance, we celebrate opinions and critiques. Let the praise ring and the hate fly. Share <i>your</i> Stance with the world. Yuu can get started by creating an account with us, Then choosing a catagory below</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>@Html.ActionLink("New Music Stance", "Create", "MusicReview", null, new { @class="createMusicStance" })</p>
    </div>
    <div class="col-md-4">
        <p>@Html.ActionLink("New Game Stance", "Create", "GameReview", null, new { @class = "createGameStance" })</p>
    </div>
    <div class="col-md-4">
        <p>@Html.ActionLink("New Movie Stance", "Create", "MovieReview", null, new { @class = "createMovieStance" })</p>
    </div>
</div>